<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Angular for Business</a>
      <ul class="menu">
        <li><a routerLink="/">Home</a></li>
        <li class="dropdown">
          <a href="#">Chapters</a>
          <ul class="dropdown-content">
            <li>
              <a routerLink="/angular-component"
                >Chapter 4 - A Simple Angular Component</a
              >
            </li>
            <li>
              <a routerLink="/route-guard"
                >Chapter 5 - Guardians of the [Angular] Galaxy</a
              >
            </li>
            <li>
              <a routerLink="/resolve-or-die">Chapter 6 - Resolve or Die</a>
            </li>
            <!-- ... other chapters -->
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-content">
    &copy; 2023 Michael D. Callaghan. All rights reserved.
    <!-- You can add more footer content here -->
  </div>
</footer>
